################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MarioGame
/x64/Debug/MarioGame.exe
/x64/Debug/MarioGame.pdb
/.vs/VSWorkspaceState.json
